<div class="container">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-xl-4">
      <h1>Edit Profile</h1>
      <%= form_for @user, class: 'form-group', remote: true  do |f| %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <%= f.submit 'Update', method: :update, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
