<h1>User Dashboard</h1>

<!-- <h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li><%# friendship.friend.email %></li>
    (<%= link_to "remove", friendship, method: :delete %>)
  <% end %>
</ul> -->

<h2>My Events</h2>
<% @events.each do |e| %>
  <%= link_to e.title, event_path(e.id), remote: true %><br />
<% end %>

<h2>Other Events</h2>
<% @invites.each do |i| %>
  <%= link_to Event.find(i.event_id).title, event_path(i.event_id), remote: true %><br />
<% end %>

<hr />
<div><%= @user.first_name %></div>
<div><%= @user.last_name %></div>
<div><%= @user.email %></div>
<%= link_to 'Edit Profile', edit_user_path, class: 'btn btn-primary', remote: true %>
