<h1>Edit Profile</h1>
<div>
  <%= form_for @user, class: 'form-group' do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= f.submit 'Update', method: :update, class: 'btn btn-primary' %>
  <% end %>
</div>
