<div class="bg"></div>
<div class="jumbotron" id="jumbotron">
  <div id="jumbo-header" align="center">
    <h1>Pic <%= image_tag('ws_logo.png', height: 75, width: 75, id: 'jumbo-logo') %>ut</h1>
    <!-- <div class="btn btn-default" onclick="searchByLocation()"><h4>Find Restaurants Near Me</h4></div> -->

    <%= form_tag search_path, id: 'jumbo-search', :method => 'post', remote: true do %>
      <div class="form-group">
        <%= submit_tag 'Searching for Location', id: "jumbo-search-btn", class: 'btn btn-default disabled'%>
        <div class="coordinates" style="display: none">
          <%= text_field_tag :lat, params[:lat], id: 'myLat' %>
          <%= text_field_tag :lng, params[:lng], id: 'myLng' %>
          <%= text_field_tag :search, params[:search], value: 'FindByLocation' %>
        </div>
      </div>
    <% end %>

  </div>
</div>
<div id="info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 infobox">
        <div id="box1" align="center">
          <h3>1</h3>
          <h1>Pick a Location</h1>
          <h1><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></h1>
          <h6>(Enter a location in the search bar above or use your current location)</h6>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 infobox">
        <div id="box2" align="center">
          <h3>2</h3>
          <h1>Look at Pictures</h1>
          <h1><i class="fa fa-camera fa-2x" aria-hidden="true"></i></h1>
          <h6>(Find out what restaurant it is by clicking on the picture)</h6>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 infobox">
        <div id="box3" align="center">
          <h3>3</h3>
          <h1>Pig Out!</h1>
          <h1><i class="fa fa-cutlery fa-2x" aria-hidden="true"></i></h1>
          <h6>(Get directions to the restaurant and enjoy!)</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'show' %>
<div id="footer">
  <h2>About </h2>
  <div>Pic out is an application which takes a location and returns nearby restaurants and instagram images taken at each location.</div>
  <div>This was made with Ruby on Rails, HTML, CSS, Javascript, Jquery, Ajax, Postgres, and more. </div>
  <div>Github: /jeffsmw</div>
</div>
<div>
  <%= @response %>
</div>
<script>
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      $('#jumbo-search-btn').removeClass('disabled');
      $('#jumbo-search-btn').val('Find Restaurants Near Me');
      $('#myLat').val(pos['lat']);
      $('#myLng').val(pos['lng']);
    });
  } else {
    $('#jumbo-search-btn').val('Unable to Detect Location');
  }
</script>
