<h1>Home</h1>

<%= form_tag search_path, :method => 'get' do %>
  <div class="location">
    <%= text_field_tag :search, params[:search], class: 'geocomplete', placeholder: 'Enter a location' %>
    <%= submit_tag "Search", :name => nil %>
    <div class="coordinates" style="display: none">
      <%= text_field_tag :lat, params[:lat] %>
      <%= text_field_tag :lng, params[:lng] %>
    </div>
  </div>
<% end %>

<div id="chat_log">
</div>

<script>
$(function(){
  $(".geocomplete").geocomplete({
    details: ".coordinates",
    detailsScope: '.location',
    types: ["geocode", "establishment"],
  });
});
</script>
