<div id="restaurant-container">
  <div id="restaurant-info">
    <div>
      <%= link_to 'Return to Search', restaurants_path, method: 'get', remote: true %>
      <!-- <a id="return-search" data-remote="true">Return to Results</a> -->
    </div>

    <h1><%= @restaurant.name %></h1>
    <div><%= @restaurant.zm_id %></div>
    <div><%= @restaurant.url %></div>
    <div><%= @restaurant.cuisine %></div>
    <div><%= @restaurant.price %></div>
    <div><%= @restaurant.latitude %></div>
    <div><%= @restaurant.longitude %></div>
    <div><%= @restaurant.ig_id %></div>
    <div><%= @restaurant.address %></div>

    <h3>Get Directions</h3>
    <div>Enter your starting address:</div>
    <%= form_tag restaurants_path, :method => 'post', id: 'origin', remote: true do %>
      <div class="location form-group">
        <%= text_field_tag :origin, params[:origin], id: 'origin-input', class: 'geocomplete form-control', placeholder: 'Enter your starting point' %>

        <%= text_field_tag :addr, @restaurant.address, style: 'display: none' %>
        <%= submit_tag "Get Directions", :name => nil, id: 'origin-button', class: 'btn btn-primary'%>
      </div>
    <% end %>

  </div>
  <div id="restaurant-map">
    <%= render 'images' %>
  </div>
</div>
<script>
$(function(){
  $(".geocomplete").geocomplete({
    details: ".coordinates",
    detailsScope: '.location',
    types: ["geocode", "establishment"],
  });
});
</script>
